<div class="d-flex flex-column justify-content-between text-center">
    <div class="text-center scroll-x">
        <h2>Elija una especialidad</h2>
        <ul class="unstyled-list d-flex justify-content-between align-items-center">
            <li class="mb-1" *ngFor="let especialidad of this.especialidades" >
                <div 
                    [style.background-image]=" 'url(' + especialidad.imagenURL + ')' "
                    class="img-rect"
                    (click)="this.elegirEspecialidad( especialidad.id )"></div>
            </li>
        </ul>
    </div>
    <div *ngIf="this.especialistas.length > 0" class="text-center scroll-x">
        <h2>Elija un especialista</h2>
        <ul class="unstyled-list d-flex justify-content-between align-items-center">
            <li class="mb-1" *ngFor="let especialista of this.especialistas" >
                <figure 
                    class="img-rect"
                    (click)="this.elegirEspecialista(especialista)">
                    <img [src]="especialista.imagenUnoUrl" [alt]="especialista.email">
                    <figcaption>{{especialista.nombre + " " + especialista.apellido}}</figcaption>
                </figure>
            </li>
        </ul>
    </div>
    <div *ngIf="this.dias.length > 0" class="text-center scroll-x">
        <h2>Elija un dia</h2>
        <ul class="unstyled-list d-flex justify-content-between align-items-center">
            <li class="mb-1" *ngFor="let dia of this.dias" >
                <button 
                    class="btn btn-primary btn-min-width" 
                    (click)="this.elegirDia( dia )">
                    {{dia}}
                </button>
            </li>
        </ul>
    </div>
    <div *ngIf="this.dia && this.horarios.length > 0" class="text-center scroll-x">
        <h2>Elija un Horario</h2>
        <ul class="unstyled-list d-flex justify-content-between align-items-center">
            <li class="mb-1" *ngFor="let horario of this.horarios" >
                <button
                    class="btn btn-primary" 
                    (click)="this.elegirHorario(horario)">
                    {{horario}}
                </button>
            </li>
        </ul>
    </div>
    <div *ngIf="this.horario && this.pacientes" class="text-center mb-1">
        <h2>Elija un Paciente</h2>
        <ul class="unstyled-list d-flex justify-content-between align-items-center">
            <li class="mb-1" *ngFor="let paciente of this.pacientes" >
                <button
                    class="btn btn-primary" 
                    (click)="this.setPaciente(paciente)">
                    {{paciente.email}}
                </button>
            </li>
        </ul>
    </div>
    <div *ngIf="this.paciente && this.horario" class="w-100 text-center">
        <button 
            class="btn btn-success"
            (click)="this.solicitarTurno()">Solicitar Turno</button>
    </div>
</div>