<form 
    [formGroup]="this.form" 
    [@openClose]=" this.mostrarFullScreen ? 'closed' : 'open' "
    [ngClass]="{ 'no-display': this.mostrarFullScreen }" 
    (ngSubmit)="this.onSubmit($event)">
    <h2 class="mb-3">Registro</h2>
    <div class="row g-3">

        <!-- <div *ngIf="this.isRequiredField('razon')" class="col-sm-6">
            <label for="reason" class="form-label">Raz&oacute;n</label>
            <select formControlName="razon" class="form-select" id="reason" required>
                <option [value]=undefined disabled selected>Elige</option>
                <option *ngFor="let categoria of this.categorias" [value]="categoria.id">{{categoria.tipo}}</option>
            </select>
            <div *ngIf="this.form.controls.razon.errors?.required" class="text-danger">
            Este valor es requerido.
            </div>
        </div> -->

        <div *ngIf="this.isRequiredField('especialidad')" class="col-12">
            <label for="speciality" class="form-label">Especialidad</label>
            <select (ngModelChange)="this.especalidad($event)" formControlName="especialidad" class="form-select" id="speciality" required>
                <option [value]=undefined disabled selected>Elige</option>
                <option *ngFor="let especialidad of this.especialidades" [value]="especialidad.id">{{especialidad.tipo}}</option>
            </select>
            <div *ngIf="this.form.controls.especialidad.errors?.required" class="text-danger">
            Este valor es requerido.
            </div>
        </div>

        <div *ngIf="this.form.controls.razon.value == '1'" class="col-12">
            <label for="especialidadNueva" class="form-label">Especialidad</label>
            <input (ngModelChange)="this.nuevaEspecialidad($event)" formControlName="especialidadNueva" type="text" class="form-control" id="especialidadNueva" placeholder="Especialidad">
        </div>

        <div *ngIf="this.isRequiredField('nombre')" class="col-sm-6">
            <label for="firstName" class="form-label">Nombre</label>
            <input formControlName="nombre" type="text" class="form-control" id="firstName" placeholder="Nombre" value="">
            <div *ngIf="this.form.controls.nombre.errors?.required" class="text-danger">
            Este valor es requerido.
            </div>
            <div *ngIf="this.form.controls.nombre.errors?.pattern" class="text-danger">
            Solo se pueden ingresar letras sin espacios.
            </div>
        </div>

        <div *ngIf="this.isRequiredField('apellido')" class="col-sm-6">
            <label for="lastName" class="form-label">Apellido</label>
            <input formControlName="apellido" type="text" class="form-control" id="lastName" placeholder="Apellido" value="">
            <div *ngIf="this.form.controls.apellido.errors?.required" class="text-danger">
            Este valor es requerido.
            </div>
            <div *ngIf="this.form.controls.apellido.errors?.pattern" class="text-danger">
            Solo se pueden ingresar letras. Pueden incluirse espacios.
            </div>
        </div>

        <div *ngIf="this.isRequiredField('edad')" class="col-sm-6">
            <label for="age" class="form-label">Edad</label>
            <input formControlName="edad" class="form-control" id="age" type="number" min="0" max="150" step="1" name="age" placeholder="18"/>
            <div *ngIf="this.form.controls.edad.errors?.required" class="text-danger">
            Este valor es requerido.
            </div>
            <div *ngIf="this.form.controls.edad.errors?.min" class="text-danger">
            Debe tener m&iacute;nimo 18 a&ntilde;os. ( {{this.EDAD_MINIMA}} )
            </div>
            <div *ngIf="this.form.controls.edad.errors?.max" class="text-danger">
            Excedi&oacute; la edad m&aacute;xima. ( {{this.EDAD_MAXIMA}} )
            </div>
        </div>

        <div *ngIf="this.isRequiredField('dni')" class="col-sm-6">
            <label for="dni" class="form-label">DNI</label>
            <input formControlName="dni" type="text" class="form-control" id="dni" placeholder="xxxxxxxx" required>
            <div *ngIf="this.form.controls.dni.errors?.required" class="text-danger">
            Este es un valor requerido.
            </div>
            <div *ngIf="this.form.controls.dni.errors?.pattern" class="text-danger">
            Solo se pueden ingresar n&uacute;meros.
            </div>
        </div>

        <div *ngIf="this.isRequiredField('obraSocial')" class="col-sm-6">
            <label for="health-insurance" class="form-label">Obra social</label>
            <input formControlName="obraSocial" type="text" class="form-control" id="healt-insurance" placeholder="Obra social">
            <div *ngIf="this.form.controls.obraSocial.errors?.required" class="text-danger">
            Este es un valor requerido.
            </div>
            <div *ngIf="this.form.controls.obraSocial.errors?.pattern" class="text-danger">
            Solo se pueden ingresar letras. Pueden incluirse espacios.
            </div>
        </div>

        <div *ngIf="this.isRequiredField('email')" class="col-sm-6">
            <label for="email" class="form-label">Email</label>
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="you@example.com">
            <div *ngIf="this.form.controls.email.errors?.required" class="text-danger">
            Este es un valor requerido.
            </div>
            <div *ngIf="this.form.controls.email.errors?.email" class="text-danger">
            Debe ingrear una direcci&oacute;n email v&aacute;lida.
            </div>
        </div>

        <div 
            *ngIf="this.isRequiredField('contrasenia')" 
            [ngClass]="{ 'col-12': isRequiredField('obraSocial'), 'col-sm-6': !isRequiredField('obraSocial')}">
            <label for="password" class="form-label">Contrase&ntilde;a</label>
            <input formControlName="contrasenia" type="password" class="form-control" id="password" placeholder="contrasenia123">
            <div *ngIf="this.form.controls.contrasenia.errors?.required" class="text-danger">
            Este es un valor requerido.
            </div>
            <div *ngIf="this.form.controls.contrasenia.errors?.pattern" class="text-danger">
            Solo se pueden ingresar valores alfanum&eacute;ricos. No pueden incluirse espacios.
            </div>
            <div *ngIf="this.form.controls.contrasenia.errors?.minLength" class="text-danger">
            Debe ingresar como m&iacute;nimo 6 caracteres.
            </div>
        </div>

        <div 
            *ngIf="this.isRequiredField('imagenUno')"
            [ngClass]="{ 'col-12': !isRequiredField('obraSocial'), 'col-sm-6': isRequiredField('obraSocial')}">
            <label for="img-1" class="form-label">Imagen de Perfil 1</label>
            <input  formControlName="imagenUno"
                    class="form-control"
                    type="file"
                    id="img-1" name="img-1"
                    accept="image/png, image/jpeg"
                    *ngIf="this.form.controls.email.valid"
                    (change)="this.subirArchivoUno($event)">
            <div *ngIf="this.form.controls.imagenUno.errors?.required" class="text-danger">
            Este es un valor requerido.
            </div>
            <div *ngIf="!this.form.controls.email.valid" class="text-danger">
                Ingrese un email valido para subir su archivo.
            </div>     
        </div>

        <div *ngIf="this.isRequiredField('imagenDos')" class="col-sm-6">
            <label for="img-2" class="form-label">Imagen de Perfil 2</label>
            <input  formControlName="imagenDos"
                    class="form-control"
                    type="file"
                    id="img-2" name="img-2"
                    accept="image/png, image/jpeg"
                    *ngIf="this.form.controls.email.valid"
                    (change)="this.subirArchivoDos($event)">
            <div *ngIf="this.form.controls.imagenDos.errors?.required" class="text-danger">
            Este es un valor requerido.
            </div>
            <div *ngIf="!this.form.controls.email.valid" class="text-danger">
                Ingrese un email valido para subir su archivo.
            </div>   
        </div>

        <div class="w-100 d-flex justify-content-center">
            <re-captcha
                id="recaptcha"
                name="recaptcha"
                formControlName="captcha">
            </re-captcha>
        </div>

    </div>

    <hr class="my-4">
    <span class="text-success">{{this.mensajeRegistro}}</span>
    <span class="text-danger">{{this.mensajeErrorRegistro}}</span>
    <button [disabled]="!(this.form.valid && this.habilitarBoton && this.token)" class="w-100 btn btn-primary btn-lg" type="submit">Registrarse</button>

</form>

<div *ngIf="this.mostrarFullScreen" class="full-screen">
    <img (click)="this.elegirRazon('1')" class="img" src="/assets/Doctor.svg" alt="especialista">
    <img (click)="this.elegirRazon('2')" class="img" src="/assets/Patient.svg" alt="paciente">
</div>