<div class="d-flex flex-row justify-content-between">
    <app-bar-chart
        [lineChartData]="this.lineChartDataTurnosXCategoria"
        [lineChartLabels]="this.lineChartLabelsTurnosXCategoria"></app-bar-chart>
    <app-bar-chart
    [lineChartData]="this.lineChartDataTurnosXDia"
    [lineChartLabels]="this.lineChartLabelsTurnosXDia"></app-bar-chart>

    <div class="table-wrapper">
        <table class="table table-striped table-responsive" >
            <thead>
                <tr>
                   <th>Usuario</th>
                   <th>Fecha</th>
                   <th>Hora</th> 
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>

</div>
