<div class="scrollable custom-width">
    <table *ngIf="this.isAdmin" class="table table-striped table-responsive">
        <tr>
            <th class="text-center">Imagen</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Apellido</th>
            <th class="text-center">Edad</th>
            <th class="text-center">DNI</th>
            <th class="text-center">Mail</th>
            <th class="text-center">Contrase&ntilde;a</th>
            <th class="text-center"></th>
            <th class="text-center"></th>
        </tr>
        <tr *ngFor="let usuario of this.usuarios; let i = index">
            <td>
                <img class="img-fluid img-thumbnail rounded m-w-300" [src]="usuario.imagenUnoUrl" alt="Foto de perfil de Usuario">
            </td>
            <td>
                {{usuario.nombre}}
            </td>
            <td>
                {{usuario.apellido}}
            </td>
            <td>
                {{usuario.edad}}
            </td>
            <td>
                {{usuario.dni | dni}}
            </td>
            <td>
                {{usuario.email}}
            </td>
            <td>
                {{usuario.contrasenia | contrasenia}}
            </td>
            <td *ngIf="(usuario.aprobado != undefined)">
                <label class="hover" for="aprobado">
                    Aprobado:
                    <input [checked]="this.usuarios[i].aprobado" (click)="this.onAprobadoClick(this.usuarios[i], $event)" type="checkbox" name="aprobado" id="aprobado">
                </label>
            </td>
            <td>
                <span *ngIf=" (usuario.aprobado != undefined && this.actualizado) " class="text-success">Especialidad actualizada!</span>
            </td>
        </tr>
    </table>
    <table *ngIf="!this.isAdmin" class="table table-striped table-responsive">
        <thead>
            <tr>
                <th class="text-center">Imagen</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Apellido</th>
                <th class="text-center">Edad</th>
                <th class="text-center">DNI</th>
                <th class="text-center">Mail</th>
            </tr>
        </thead>
        <tbody *ngIf="this.paciente">
            <td>
                <img class="img-fluid img-thumbnail rounded m-w-300" [src]="this.paciente.imagenUnoUrl" alt="Foto de perfil de Paciente">
            </td>
            <td>
                {{this.paciente.nombre}}
            </td>
            <td>
                {{this.paciente.apellido}}
            </td>
            <td>
                {{this.paciente.edad}}
            </td>
            <td>
                {{this.paciente.dni}}
            </td>
            <td>
                {{this.paciente.email}}
            </td>
        </tbody>
    </table>
</div>
<app-usuarios-fab
    *ngIf="!this.isAdmin"
    class="right"
    [usuarios]="this.usuarios"
    (usuarioElegido)="this.pacienteElegido($event)"></app-usuarios-fab>
<app-usuarios-fab
    *ngIf="this.isAdmin"
    class="right"
    [usuarios]="this.usuarios"
    (usuarioElegido)="this.descargarExcel($event)"></app-usuarios-fab>