<div class="scrollable">
    <table class="table table-striped table-responsive">
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>DNI</th>
            <th>Mail</th>
            <th>Contrase&ntilde;a</th>
        </tr>
        <tr *ngFor="let usuario of this.usuarios">
            <td>
                <img class="img-fluid img-thumbnail rounded m-w-300" [src]="usuario.imagenUnoUrl" alt="Foto de perfil de Usuario">
            </td>
            <td>
                {{usuario.nombre}}
            </td>
            <td>
                {{usuario.apellido}}
            </td>
            <td>
                {{usuario.edad}}
            </td>
            <td>
                {{usuario.dni}}
            </td>
            <td>
                {{usuario.email}}
            </td>
            <td>
                {{usuario.contrasenia}}
            </td>
        </tr>
    </table>
</div>