<div class="container">
    <label class="form-label mb-1" for="nombre">
        Nombre
    </label>
    <input class="form-control mb-1" disabled [value]="this.usuario.nombre" type="text" name="nombre" id="nombre">
    
    <label class="form-label" for="apellido">
        Apellido
    </label>
    <input class="form-control mb-1" disabled [value]="this.usuario.apellido" type="text" name="apellido" id="apellido">
    
    <label class="form-label" for="email">
        Email
    </label>
    <input class="form-control mb-1" disabled [value]="this.usuario.email" type="text" name="email" id="email">
    
    <label class="form-label" for="dni">
        DNI
    </label>
    <input class="form-control mb-1" disabled [value]="this.usuario.dni" type="text" name="dni" id="dni">
    
    <div *ngIf="this.usuario.especialidad">
        <label for="form-lable" for="especialidad">
            Especialidad
        </label>
        <input type="text" class="form-control mb-1" disabled [value]="this.usuario.especialidad">
    </div>

    <div style="margin-top: 1rem" *ngIf="this.usuario.razon === '1'">
        <h2>Horario disponible</h2>
        <label for="date" class="form-label">
            Desde
        </label>
        <input type="time" class="form-control" id="date" placeholder="dd/mm/yyyy hh:mm:ss" [(ngModel)]="this.horarioMin">
        <label for="date" class="form-label">
            Hasta
        </label>
        <input type="time" class="form-control" id="date" placeholder="dd/mm/yyyy hh:mm:ss" [(ngModel)]="this.horarioMax">
        <button class="btn btn-lg btn-success mt-1" (click)="this.actualizarHorario()">Actualizar horario</button>
        <span>{{this.mensaje}}</span>
    </div>

    <hr>
    <h2>Imagen/es de Perfil:</h2>
    <div class="d-flex flex-row justify-content-between align-items-center">
        <img [src]="this.usuario.imagenUnoUrl" [alt]="this.usuario.email" class="img-fluid custom-img">
        <img *ngIf="this.usuario.imagenDosUrl" [src]="this.usuario.imagenDosUrl" [alt]="this.usuario.email" class="img-fluid custom-img">
    </div>

</div>