html,
body {
    height: 100%;
    margin: 0;
}

/* .container {
    display: grid;
    place-items: center;
    height: 100%;
} */

main {
    min-height: 80vh;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
}