<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Fecha</th>
                <th class="text-center">Motivo</th>
                <th class="text-center">Especialidad</th>
                <th class="text-center">Especialista</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Encuesta</th>
                <th class="text-center">Rese&ntilde;a</th>
                <th class="text-center">Calificaci&oacute;n</th>
                <th class="text-center">Rese&ntilde;a Cancelado</th>
                <th class="text-center">Cancelado</th>
                <th class="text-center">Finalizado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let turno of this.turnos; let i = index">
                <td class="text-center">{{ turno.fecha | date: 'dd/MM/yyyy hh:mm a'  }}</td>
                <td class="text-center">{{ turno.motivo }}</td>
                <td class="text-center">{{ turno.especialidad }}</td>
                <td class="text-center">{{ turno.especialista }}</td>
                <td class="text-center">
                    <select (change)="this.actualizarTurno(turno, $event.target, 'estado')" *ngIf="!turno.estado && this.iniciado?.razon == '1'">
                        <option disabled selected>Elija</option>
                        <option (click)="this.actualizarTurno( turno, 'Aceptado','estado' )" value="Aceptado">Aceptar</option>
                        <option (click)="this.actualizarTurno( turno, 'Rechazado', 'estado' )" value="Rechazado">Rechazar</option>
                    </select>
                    <span *ngIf="turno.estado">{{ turno.estado }}</span>
                </td>
                <td class="text-center">
                    <button 
                        *ngIf="(this.iniciado?.razon === '2' && turno.finalizado) || this.iniciado?.razon === '1' || this.iniciado?.razon === '0'"
                        (click)="this.prepararEncuesta( i )" 
                        type="button" class="btn btn-primary" 
                        data-bs-toggle="modal" data-bs-target="#textModal">
                        Encuesta
                    </button>
                </td>
                <td class="text-center">
                    <button (click)="this.prepararResenya( i )" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#textModal">
                        Ver rese&ntilde;a
                    </button>
                </td>
                <td class="text-center">
                    <mat-slider
                        *ngIf="this.iniciado?.razon === '2'" 
                        thumbLabel
                        min="1" 
                        max="5" 
                        step="1" 
                        [disabled]="turno.califacion || !turno.finalizado"
                        [value]="turno.calificacion ? turno.calificacion : 0"
                        (valueChange)="this.actualizarTurnoValor( turno, $event, 'califacion' )"></mat-slider>
                    <span *ngIf="this.iniciado?.razon != '2'">{{turno.califacion}}</span>
                </td>
                <td class="text-center">
                    <button *ngIf="turno.cancelado" class="btn btn-primary btn-sm">Rese&ntilde;a</button>
                </td>
                <td class="text-center">
                    <label for="cancelado">
                        Cancelado:
                        <input 
                            [(ngModel)]="turno.cancelado"
                            (click)="this.actualizarTurnoChecked(turno, $event.target, 'cancelado')"
                            type="checkbox" 
                            name="cancelado" 
                            id="cancelado">
                    </label>
                </td>
                <td class="text-center">
                    <label *ngIf="turno.estado === 'Aceptado'" for="finalizado">
                        Finalizado:
                        <input 
                            [(ngModel)]="turno.finalizado"
                            (click)="this.actualizarTurnoChecked(turno, $event.target, 'finalizado')"
                            [disabled]="this.iniciado?.razon === '2'"
                            type="checkbox" 
                            name="finalizado" 
                            id="finalizado">
                    </label>
                </td>
            </tr>
        </tbody>
    </table>
      
      <!-- Modal -->
      <div 
        class="modal fade" 
        id="textModal" 
        tabindex="-1" 
        aria-labelledby="textModalLabel" 
        aria-hidden="true"
        data-bs-backdrop="static" 
        data-bs-keyboard="false">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 *ngIf="this.encuesta" class="modal-title" id="textModalLabel">Actualizar Encuesta</h5>
              <h5 *ngIf="this.resenya" class="modal-title" id="textModalLabel">Actualizar Rese&ntilde;a</h5>
            </div>
            <div class="modal-body">
              <textarea 
                [disabled]="!this.encuesta && !this.resenya"
                class="w-100" 
                [(ngModel)]="this.texto" 
                name="texto" 
                id="texto" 
                cols="30" 
                rows="10"></textarea>
            </div>
            <div class="modal-footer">
                <button 
                    *ngIf="this.encuesta" 
                    (click)="this.actualizarEncuesta()" 
                    type="button" 
                    class="btn btn-primary"
                    [attr.data-bs-dismiss]="(this.texto) ? 'modal' : ''">Guardar Encuesta</button>
                <button 
                    *ngIf="this.resenya" 
                    (click)="this.actualizarResenya()" 
                    type="button" 
                    class="btn btn-primary"
                    [attr.data-bs-dismiss]="(this.texto) ? 'modal' : ''">Guardar Rese&ntilde;a</button>
                <button (click)="salirDelModal()" data-bs-dismiss="modal" class="btn btn-danger">Salir</button>
            </div>
          </div>
        </div>
      </div>

</div>