<header class="site-header text-center">
    <nav class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2" routerLink="home" aria-label="Home">
        <img class="img-thumbnail img-fluid p-0" width="25px" src="/assets/clinica.png" alt="Home">
      </a>
      <a *ngIf="!usuario" class="nav-link rounded border border-black" routerLink="log-in">Iniciar Sesión</a>
      <a *ngIf="!usuario" class="nav-link rounded border border-black" routerLink="sign-up">Crear cuenta</a>
      <a *ngIf="usuario?.razon === '0'" class="nav-link rounded border border-black" routerLink="users">Usuarios</a>
      <a (click)="this.onLogOut()" *ngIf="usuario" class="nav-link rounded border border-black hover"> <i class="fas fa-sign-out-alt"></i> Log Out</a>
    </nav>
</header>