<div class="d-flex flex-column justify-content-between text-center">
    <div class="text-center scroll-x">
        <h2>Elija una especialidad</h2>
        <ul class="unstyled-list d-flex justify-content-between">
            <li class="mb-1" *ngFor="let especialidad of this.especialidades" >
                <button class="btn btn-primary" (click)="this.elegirEspecialidad( especialidad.id )">
                    {{especialidad.tipo}}
                </button>
            </li>
        </ul>
    </div>
    <div class="text-center scroll-x">
        <h2>Elija un especialista</h2>
        <ul class="unstyled-list d-flex justify-content-between">
            <li class="mb-1" *ngFor="let especialista of this.especialistas" >
                <button class="btn btn-warning" (click)="this.elegirEspecialista( especialista.email )">
                    {{especialista.nombre + " " + especialista.apellido}}
                </button>
            </li>
        </ul>
    </div>

</div>